.buttonsRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-bottom: 1px solid #e0e0e0;
  padding: 8px 20px;
}
.headerText {
  color: #bdbdbd !important;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.1px;
  border: unset;
}
.tableDataText {
  font-size: 14px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 16px;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  color: #4f4f4f !important;
  vertical-align: middle;
}
.customButton {
  font-family: Roboto !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 24px !important;
  letter-spacing: 0.1px !important;
  text-align: left !important;
  cursor: pointer !important;
  box-shadow: none !important;
  outline: none !important;
  border-radius: 8px !important;
  padding: 6px 16px 6px 16px;
  background-color: #228dff;
  border: unset;
  color: white;
}
.customButtomRow {
  text-align: right;
}
